logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
*.classpath
*.project
/RUNNING_PID
*.settings

secret.txt
conf/local.conf
conf/env.conf
/bin/
*bin/

.cache-main
.cache-tests

.ensime
/.ensime_cache/

.bloop
